* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    height: 100%;
}

body {
    height: 100%;
    width: 100%;
    margin: 0;
    font-family: 'Lato', sans-serif;
    font-size: 16px;
    color: #000000;
}

nav {
    max-width: 550px;
    margin: 0 auto;
    text-align: center;
    font-size: 32px;
}

.nav-link:hover {
    text-decoration: underline;
}

footer {
    font-size: 12px;
    margin: 0 auto;
    text-align: center;
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 25px;
}

main {
    width: 100%;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    width: 100%;
}

li {
    display: inline-flex;
    margin: 0;
    padding: 25px 15px;
}

section {
    max-width: 800px;
    margin: 0 auto;
}

.home {
    display: block;
}

h1 {
    font-family: 'Poppins', sans-serif;
    font-size: 44px;
    margin: 30px 0;
}

.about {
    display: none;
}

.landing-images {
    max-width: 750px;
    border-radius: 5px;
}

.projects {
    overflow-y: scroll; 
    overflow-x: hidden;
    max-height: 80vh;    
    display: none;
}

.tech-used {
    font-size: 20px;
    margin: 0 0 0 0;    
}

.tech-used li {
    display: block;
    padding: 0 0 5px 0;
}

.project-wrapper {
    border: 3px solid #063B67;
    border-radius: 5px;
    padding: 10px 10px;
    margin: 10px 0 50px 0;
}

.project-details, .project-description {
    font-size: 20px;
    margin: 0 0 15px 0;
}

.about-copy {
    line-height: 1.5;
    font-size: 20px;
}

.about-links li {
    margin: 15px 15px 0 0;
    padding: 0;
}

.buttons li {
    margin: 15px 0 0 0;
    padding: 0;
}

.button-dark {
    font-family: 'Poppins', sans-serif;
    color: #ffffff;
    font-size: 20px;
    background: #01213b;
    padding: 5px 16px;
    text-decoration: none;
    border: none;
    min-width: 134px;
    border: 2px solid #01213b;
  }
  
  .button-dark:hover {
    cursor: pointer;
    background-color: #063B67;
    border: 2px solid #063B67;
  }
  
  .button-light {
    font-family: 'Poppins', sans-serif;
    color: #01213b;
    font-size: 20px;
    background: #ffffff;
    padding: 5px 16px;
    text-decoration: none;
    border: none;
    min-width: 134px;
    margin-left: 10px;
    border: 2px solid #01213b;
  }
  
  .button-light:hover {
    cursor: pointer;
    color: #ffffff;
    background-color: #063B67;
    border: 2px solid #063B67;
  }
  
  .mobile-landing-images {
    display: none;
}
  @media only screen and (max-width: 770px) {
    nav {
        max-width: 310px;
        margin: 0 auto;
        text-align: center;
        font-size: 18px;
    }    

    nav li {
        padding: 10px 9px;
    }

    footer {
        position: relative;
    }
    
    h1 {
        font-family: 'Poppins', sans-serif;
        font-size: 25px;
        margin: 0 0 0 9px;
    }
    
    .home {
        margin: 20px 10px;
    }

    .about-copy {
        margin: 10px 0 0 9px;
    }

    .button-dark, .button-light {
        font-size: 17px;
    }

    .buttons {
        text-align: center;
    }

    .buttons li {
        margin: 15px auto;
        padding: 0;
        display: inline-block;
    }

    .project-wrapper {
        border: none;
        padding: 10px 10px;
        margin: 10px 0 0 0;
    }
    
    .project-description {
        margin: 15px 0 15px 0;
    }

    .about-links {
        text-align: center;
    }

    .about-links li {
        margin: 15px 7px;
        padding: 0;
    }
    
    .landing-images {
        display: none;
    }

    .mobile-landing-images {
        display: block;
        text-align: center;
        margin: 0 auto;
        border: 3px solid #063B67;
        border-radius: 5px;
    }

    .tech-used li {
        padding: 5px 0 5px 0;
    }
    
  }